.hotel-search {
  background-color: @white;
  padding-top: 22px;
  padding-bottom: 10px;
  text-align: center;
}

.hotel-search__heading {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: @black;
  margin: 0 5px 20px;
}

.hotel-search__text {
  display: block;
  width: 293px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: @darkgrey;
  text-align: center;
  margin: 0 auto 35px;
}

.hotel-search__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 0;
  width: 280px;
  height: 58px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: @white;
  text-align: center;
  background-color: @bg-light-blue;
  border: 0;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &--disabled {
    background-color: #e5e5e5;
  }
}

.hotel-search__map {
  background-color: @white;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 320px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: 640 auto;
  }
}

@media (min-width: @tablet-width) {
  .hotel-search__heading {
    font-size: 30px;
    line-height: 26px;
    margin-top: 35px;
    margin-bottom: 30px;
  }

  .hotel-search__text {
    font-size: 14px;
    line-height: 24px;
    width: 435px;
    margin-bottom: 42px;
  }

  .hotel-search__button {
    width: 458px;
    margin-bottom: 60px;
  }

  .hotel-search__map {
    background-color: @white;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 768px;


    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 1536 auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .hotel-search {
    padding: 0;
  }

  .hotel-search__heading {
    margin-top: 55px;
  }

  .hotel-search__text {
    margin-bottom: 48px;
  }

  .hotel-search__button {
    margin-bottom: 65px;
  }

  .hotel-search__map {
    background-color: @white;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1200px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: 2400 auto;
    }
  }
}
