.main-container {
  width: 320px;
  background-color: @white;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .main-container {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .main-container {
    width: 1200px;
  }
}
