.main-footer {
  background-color: @white;
  padding: 20px 5px 30px 5px;
  text-align: center;
}

.main-footer__hashtag {
  margin-top: 0;
  margin-bottom: 38px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: @black;
}

.main-footer__copyright-text {
  margin-top: 45px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: @black;
}

@media (min-width: @tablet-width) {
  .main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .main-footer__hashtag {
    margin: 0;
  }

  .main-footer__copyright-text {
    margin: 0;
  }
}
