.photo {
  margin-bottom: 40px;
  text-align: center;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: @grey-hover;
    top: -23px;
    left: -7%;
  }

  &:last-of-type::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: @grey-hover;
    top: 392px;
    left: -7%;
  }
}

.photo__image {
  padding-bottom: 17px;
  display: block;
}

.photo__info {
  width: 290px;
  padding-left: 0;
  padding-right: 5px;
  text-align: left;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.photo__info-container {
  width: auto;
}

.photo__heading {
  display: block;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: @black;
}

.photo__author {
  display: block;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: @darkgrey;
  text-transform: none;
}

.photo__likes-image {
  display: inline-block;
}

.photo__likes-svg {
  fill: rgba(0, 0, 0, 0.3);
}

.photo__likes {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: @black;
  margin-top: 6px;
  margin-bottom: 0;
  margin-left: 10px;
}

@media (min-width: @tablet-width) {
  .photo {
    margin-bottom: 0;
  }

  .photo::before {
    display: none;
  }

  .photo:last-of-type::after {
    display: none;
  }

  .photo__image {
    padding-bottom: 0;
  }

  .photo__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: @bg-grey;
    padding-top: 18px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .photo__heading {
    width: 180px;
    margin-bottom: 0;
  }

  .photo__likes-container {
    margin-top: 10px;
    //margin-right: 15px;
  }

  .photo__likes-image {
    margin-left: 5px;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo {
    position: relative;
  }

  .photo__info {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .photo__heading {
    color: @white;
  }

  .photo__author {
    color: @white;
  }

  .photo__likes {
    color: @white;
  }

  .photo__likes-svg {
    fill: @white;
  }
}
