.photo {
  margin-bottom: 20px;
  text-align: center;
}

.photo__image {
  padding-bottom: 20px;
}

.photo__info {
  width: 290px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.photo__heading {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: @black;
}

.photo__author {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: @darkgrey;
  text-transform: none;
}

.photo__likes {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: @black;
  padding-left: 35px;
}
