.welcome-section {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #ddebf4;
  background-position: 50% 25%;
  background-size: cover;
  text-align: center;
  padding-top: 88px;
  padding-bottom: 80px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 1536 auto;
  }
}

.welcome-section-not-index {
  padding-top: 50px;
  padding-bottom: 60px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.welcome-section__image {
  width: 280px;
}

.welcome-section__image-not-index {
  width: 230px;
}

@media (min-width: @tablet-width) {
  .welcome-section {
    padding-top: 77px;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1536 auto;
    }
  }

  .welcome-section-not-index {
    padding-top: 90px;
    padding-bottom: 115px;
  }

  .welcome-section__image {
    width: 460px;
  }
}

@media (min-width: @desktop-width) {
  .welcome-section {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2400 auto;
    }
  }

  .welcome-section-not-index {
    padding-top: 100px;
    padding-bottom: 115px;
  }
}
