.welcome-section {
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #ddebf4;
  background-position: 50% 25%;
  background-size: cover;
  text-align: center;
  padding-top: 88px;
  padding-bottom: 80px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
    background-size: 1536 auto;
  }
}

.welcome-section-not-index {
  padding-top: 50px;
  padding-bottom: 62px;
}

.welcome-section__image {
  width: 280px;
}

.welcome-section__slogans {
  position: relative;
  background-color: #ffffff;
  padding-top: 41px;
  padding-bottom: 14px;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/bg-intro-triangle-mobile.svg");
    background-size: cover;
    top: -25px;
    left: 0;
    width: 320px;
    height: 26px;
  }
}

.welcome-section__slogans-underrated {
  display: block;
  width: 255px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin: 0 auto 30px auto;
}

.welcome-section__slogans-heading-reasons {
  display: block;
  width: 254px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0 auto 30px;
}

@media (min-width: @tablet-width) {
  .welcome-section {
    background-image: url("../../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/bg-back-tablet@2x.jpg");
      background-size: 1536 auto;
    }
  }

  .welcome-section__image {
    width: 460px;
  }

  .welcome-section__slogans {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../../img/bg-intro-triangle-tablet.svg");
      background-size: cover;
      width: 768px;
      height: 57px;
      top: -55px;
      left: 0;
    }
  }

  .welcome-section__slogans-underrated {
    width: 490px;
    font-size: 21px;
    line-height: 26px;
  }

  .welcome-section__slogans-heading-reasons {
    width: 490px;
    margin-bottom: 36px;
  }
}

@media (min-width: @desktop-width) {
  .welcome-section {
    background-image: url("../../img/bg-back-desktop@1x.jpg");
  }

  .welcome-section__slogans {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../../img/bg-intro-triangle-desktop.svg");
      background-size: cover;
      width: 1200px;
      height: 57px;
      top: -55px;
      left: 0;
    }
  }
}
